{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>Erreur 403</h2>
            <p>Désolé, la page que vous essayez d'atteindre est protégée...</p>
        </div>
    </div>
{% endblock %}
