{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>Erreur 500</h2>
            <p>Désolé, le serveur n'a pas la lumière dans toutes les pièces...</p>
            <a href="{{ path('homepage') }}">Retourner à l'accueil</a>
        </div>
    </div>
{% endblock %}
