{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>Erreur 404</h2>
            <p>Désolé, la page que vous essayez d'atteindre n'existe pas...</p>
            <a href="{{ path('homepage') }}">Retourner à l'accueil</a>
        </div>
    </div>
{% endblock %}
