<aside class="off-canvas position-left reveal-for-large sidebar__container" data-off-canvas=""
       data-position="left"
       aria-hidden="true" data-offcanvas="acvkg5-offcanvas">
    <div class="row column full-width">
        <img class="sidebar_logo"
             src="http://placehold.it/250x150"
             alt="On Mange Quoi A Midi Logo">

        <ul class="menu vertical sidebar__main-menu">
            <li><a href="{{ path('homepage') }}">Accueil</a></li>
            <li><a href="{{ path('about') }}">About</a></li>
            <li><a href="#">Three</a></li>
            <li><a href="#">Four</a></li>
        </ul>
    </div>
</aside>