{% extends 'base.html.twig' %}

{% block title %}
    Coucou !
{% endblock %}

{% block body %}
    <div class="row">
        <div class="large-4 medium-2 small-6 columns" style="background-color:green">Block</div>
        <div class="large-4 medium-2 small-6 columns" style="background-color:yellow">Block</div>
        <div class="large-4 medium-2 small-12 columns" style="background-color:deeppink">Block</div>
    </div>
{% endblock %}