/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
// @media (min-width: 768px) {
//   .container {
//     max-width: 730px;
//   }
// }
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    padding: 14px 24px;
    font-size: 21px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* NAVIGATION */
.nav.nav-pills {
  li {
    display:flex;
    align-items: center;
  }
}


/* TokenInfos */

form[name=order_group] {
  padding: 30px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form[name=order_group] h3 {
  margin-bottom: 20px;
}
.tokenInfo {
  display: inline-flex;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  color: #fff;
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateY(50px);
}
.tokenInfo.success, .tokenInfo.failed {
  opacity: 1;
  transform: translateY(0px);
  animation-name: hide;
}
.tokenInfo.success {
  background-color: #4DB6AC;
}
.tokenInfo.failed {
  background-color: #F44336;
  animation-duration: 500ms;
  animation-delay: 2000ms;
  animation-fill-mode: forwards;
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
